.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Dosis";
}


.wrap-body {
  overflow: hidden;
  /* background-image: url('./img/wall.jpg'); */
  height: 100vh;
  width: auto;
  /* background-size: cover; */
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
  /* background-color: #282c34; */
}

/* .wrap-body .Polaris-Card {
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);;
} */

label,
input {
  display: block;
  width: 100%;
  font-size: 14px;
}

label {
  margin-bottom: 20px;
  height: 8px;
  font-size: 15px;
}

input {
  margin-bottom: 0px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid rgb(175, 173, 173);

}

input:focus{
  /* border: 1px solid #d97b93; */
  outline: none;
}

.error{
  font-weight: bold;
  color: rgb(216, 55, 27);
  display: relative;
  font-size: 12px;
  height: 20px;
  margin-top: -1.6rem;
}

.wrap-body .Polaris-FormLayout__Item:nth-child(4) {
  margin-top: 0;
}

.wrap-body .Polaris-FormLayout__Item:nth-child(9) {
  margin-top: 0;
}

.wrap-body .Polaris-FormLayout__Item:nth-child(11) {
  text-align: center;
}

.wrap-body .Polaris-FormLayout__Item input:focus {
  border: 2px solid #d97b93;
}

.wrap-body label{
  color: #833cb3;
  font-weight: 600;
}

.wrap-body .Polaris-Heading {
  text-align: center;
  font-size: 24px;
  color:  #833cb3;
}

.wrap-user-map{
  padding-top: 60px;
  background-color: #222831;
  height: 100vh;
  color: #bcb9b7;
}


.inline-block{
  width:100%;
  height:auto;
  /* background-color:black; */
  display:flex;
}

.inline-half{
  width:50%;
  height:auto;
  /* background-color:rgb(218, 247, 218); */
}

.half-item-1{
  margin-right: 5px;
}

.half-item-2{
  margin-left: 5px;
}

.center-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.register-form{
  padding: 100px 0;
}

.Polaris-Button{
  background-color:#833cb3;
  color: #fff;
  font-weight: 600;
}

.Polaris-Button:hover {
  background-color:#d97b93;
}


.inline-30{
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.inline-70{
  width: 70%;
  font-size: 14px;
}

.inline-30 h3{
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #efbb35;
}

.users-list{
  margin-bottom: 10px;
}

.user-name span{
  font-size: 18px;
  margin-left: 5px;
}

.inline-70 span{
  margin-left: 5px;
}

#rc-anchor-alert, .rc-anchor-alert {
  /* text-indent: -9999px; */
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

